@use './animation.scss';
@use '../../../../Assets/sass/vars.scss';

.loader-drop {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin: 1rem auto 2.75rem;
  &:before,
  &:after {
    border: 1px solid purple;
    background-color: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: skBounce 2s linear infinite;
  }
  &:after {
    animation-delay: -1s;
  }
}

@keyframes skBounce {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(2);
    opacity: 0.5;
  }
  80% {
    transform: scale(2.5);
    opacity: 0.25;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
