@use '../../../../Assets/sass/mixins.scss';
@use '../../../../Assets/sass/vars.scss';

$themeLayout: (
  light: (
    background: vars.$light-primary,
  ),
  dark: (
    background: vars.$dark-primary,
  ),
);

//& THEMIFY
@include mixins.themify($themeLayout) {
  .main-layout {
    background-color: vars.$dark-primary;
  }
}
