@use '../../../../Assets/sass/mixins.scss';
@use './theme.scss';
@use './animations.scss';

.theme-btn {
  @include mixins.flexbox(center, center);
  cursor: pointer;
  //boxmodel
  border-radius: 45px;
  //display
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 0rem;
  top: 1rem;
  z-index: 6;
  transform: scale(0.7);

  &__circle {
    @include mixins.flexbox(center, center);
    margin: 0.5rem 0;
    border-radius: 30px;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    z-index: 5;
    transition: all 0.2s ease-in-out 0.02s;

    @include animations.bounce;
    animation: bounce 0.8s linear 0.7s;

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      transform: scale(0.8);
    }
  }

  &__icon {
    margin: 0.3rem;

    &__moon {
      @include animations.rotate;
      animation: rotate 0.5s ease-in-out;
    }

    &__sun {
      @include animations.zoom;
      animation: zoom 0.5s ease-in-out;

      & :nth-child(2) {
        transform: translate(135px, -10px) rotate(90deg);
      }
      & :nth-child(3) {
        transform: translate(175px, 50px) rotate(-45deg);
      }
      & :nth-child(4) {
        transform: translate(205px, 104px);
      }
      & :nth-child(5) {
        transform: translate(210px, 220px) rotate(-135deg);
      }
      & :nth-child(6) {
        transform: translate(105px, 250px) rotate(-90deg);
      }
      & :nth-child(7) {
        transform: translate(63px, 190px) rotate(135deg);
      }
      & :nth-child(8) {
        transform: translate(35px, 135px) rotate(-180deg);
      }
      & :nth-child(9) {
        transform: translate(35px, 20px) rotate(45deg);
      }
    }
  }
}
